.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 90px;
  position: relative;
  border-radius: 0.25em;
}

.button-container:first-child {
  margin-top: 30px;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  border-radius: 17px;
  color: gray;
  font-size: 20px;
  padding-left: 10px;
  cursor: pointer;
  animation-duration: 2s;
  animation-name: opacity;
}

.button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: background 0.3s ease;
}

.left {
  z-index: 1;
  margin-top: 3px;
  color: darkgray;
}

.button:hover::after {
  background-color: rgb(255, 255, 255);
}

.button:hover .left {
  color: darkgray;
}

.right {
  margin-left: 15px;
}

.arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  animation-duration: 2s;
  animation-name: opacity;
}

.selected {
  color: white;
  background-color: rgb(255, 227, 100);
  animation-name: selected2;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

/* @keyframes selected {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
} */

@keyframes selected2 {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
