* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(241, 241, 210);
}

.container {
  display: flex;
  align-items: flex-start;
  height: 100vh;
  padding: 40px;
  gap: 70px;
}
